################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BDDSpecFlowMentoring/.vs/BDDSpecFlowMentoring
/BDDSpecFlowMentoring/SpecFlowTests/obj
/BDDSpecFlowMentoring/.vs/ProjectEvaluation
/BDDSpecFlowMentoring/SpecFlowTests/bin/Debug/net6.0
/ClassLibrary1/.vs
/ClassLibrary1/ClassLibrary1/obj
