################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BDDSpecFlowMentoring/.vs/BDDSpecFlowMentoring
/BDDSpecFlowMentoring/SpecFlowTests/obj
